@import "../../index.scss";

.navbar {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;

    li {
      border: 1px solid black;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: var(--pistachio);
      box-shadow: 4px 4px 0px black;
      transition: box-shadow 0.1s ease, transform 0.1s ease;
      &:hover {
        box-shadow: none;
        transform: translateX(4px) translateY(4px);
      }
    }

    li a {
      text-decoration: none;
      color: black;
      font-family: 'Fira Code', monospace;
      font-weight: 500;
      font-size: clamp(0.8rem, 0.5rem + 0.5vw, 1.2rem);    
    }
  }

  @include respond("md") {
    display: flex;
  }

}

