/* ------- Fonts ------- */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* ------- Colors ------- */
:root {
  --page-background: #c5d5cb ; // used in App.scss
  --pistachio: #a0d373;
  --cream: #ece2d0;
  --faded-black: #1c1c1c;
  --sun-yellow: #ffd166; // (or #FF8585)
}

/* ------- Responsiveness ------- */
$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px
);

// for breakpoints
@mixin respond($bp) {
  $value: map-get($map: $breakpoints, $key: $bp);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$bp}' not found!";
  }
}

html {
  font-size: 16px;

  @include respond("md") {
    font-size: 17px;
  }

  @include respond("lg") {
    font-size: 18px;
  }

  @include respond("xl") {
    font-size: 19px;
  }
}
