/* ------- Fonts ------- */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* ------- Colors ------- */
:root {
  --page-background: #c5d5cb ; // used in App.scss
  --pistachio: #a0d373;
  --faded-black: #1c1c1c;
}

/* ------- Media breakpoints ------- */
$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px
);

@mixin respond($bp) {
  $value: map-get($map: $breakpoints, $key: $bp);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$bp}' not found!";
  }
}